* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7c84ca;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(fundoimg.png);
    background-size: cover;
}

h1 {
    color:  #289cd1 !important;
    margin: 20px 0;
    font-family: 'The Nautigal', cursive;
    font-size: 60px;
    
}

.progress {
    height: 5px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.progress--bar {
    background-color: #00FF00;
    height: 200%;
    transition: all ease .5s;
}

.questionArea,
.scoreArea {
    display: none;
}

.questionArea {
    max-width: 700px;
    width: 90%;   
}

.question {
    align-items: center;
    color: #000000;
    font-size: 18px;
    margin: 20px 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 900; 
}
.option {
    display: flex;
    align-items: center;
    height: 90px;
  
    background-color: rgba(40, 156, 209, 0.514);
    border-radius: 10px;
    margin-bottom: 5px;
    color: #000000;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500; 
}
.option span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: rgba(3, 3, 3, 0.795);
    color: #fdfdfd;
}
.option:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.scoreArea {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
}
.prizeImage {
    width: auto;
    height: 300px;
    margin: 20px auto; 
    border-radius: 10px;    
    
}
.scoreText1 {
    color: #000;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Noto Sans TC', sans-serif;
}
.scorePct {
    color: #0d630d;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Noto Sans TC', sans-serif;
}
.scoreText2 {
    font-size: 15px;
    color: #000;
    margin-bottom: 10px;
    font-family: 'Noto Sans TC', sans-serif;
}

.scoreArea button {
    border: 0;
    border-radius: 10px;
    background-color: rgba(40, 156, 209, 0.795);
    color: #ffffff;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.scoreArea button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

footer {
    margin-top: 20px;
    color: #289cd1;
    font-size: 13px;
}
.image8 {
    text-align: center;
    width: 320px;
    height: auto;
    margin: 20px auto; /* Adicione 'auto' para as margens laterais */
    border-radius: 10px;
}

.image10 {
    text-align: center;
    width: 320px;
    height: auto;
    margin: 20px auto; /* Adicione 'auto' para as margens laterais */
    border-radius: 10px;
}

/* styles.css */
#btnRestart,
#btnFinish,
#btnBack,
#btnNext {       
    font-family: 'Noto Sans TC', sans-serif;
}

/* Estilo de hover para realçar quando o mouse está sobre o botão */
#btnRestart:hover,
#btnFinish:hover,
#btnBack:hover,
#btnNext:hover {
    background-color: #3353ac; /* Cor verde mais escura ao passar o mouse */
}

/* Limpar a flutuação para evitar problemas de layout */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.option.selected {
    background-color: rgba(21, 9, 196, 0.521);
}

.responsesArea {
    font-family: 'Noto Sans TC', sans-serif;
    display: none;
    margin-top: 10px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px;
}

.response {
    margin-bottom: 20px;
}

.response p {
    margin: 0;
    padding-bottom: 5px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}
